.hooks-h1 {
    color: blue;
}
.hooks-p{
  color: brown;
    margin-top: 10px;
    padding: 5px;
    font-size: 16px;
}
.hooks-button{
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.hooks-button:hover{
    background-color: darkgreen;
}